# Dependencies
node_modules/

# Compiled output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local
.github

# IDE and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Testing
coverage/
